*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: url("./Web-banner-1.1.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.main .modal-content {
  padding: 30px;
}
.main .modal-content__heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #0e0d5d;
}
.main .modal-content__text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #212121;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: #ffffff;
  padding-top: 30px;
  border-radius: 35px;
}
.form-wrapper .logo {
  width: 146px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
.form-wrapper .heading {
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  color: #16233c;
  position: relative;
  padding-right: 38px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #dadada;
}
.form-wrapper .heading::after {
  content: "";
  position: absolute;
  right: 90px;
  width: 28px;
  height: 28px;
  background-image: url("./hand-img.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.form-wrapper .title {
  margin: 15px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #16233c;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
}
.form-input {
  padding: 15px 20px;
  background: #ffffff;
  border: 1px solid #16233c;
  border-radius: 15px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #16233b;
  margin-bottom: 20px;
  outline: none;
}
.form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #dadada;
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #dadada;
}
.form-input__number {
  border: none;
  margin-bottom: 0;
  padding: 0;
  margin-left: 10px;
}
.form .input-err {
  border-color: red;
}
.form .err {
  display: none;
  margin-top: 10px;
  color: red;
  font-size: 14px;
}
.form__number-wrapper {
  border: 1px solid #16233c;
  padding: 15px 20px;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 15px;
}
.form__number-wrapper p {
  padding-right: 10px;
  border-right: 1px solid #000000;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding-top: 1px;
  color: #16233b;
}
.form-btn {
  margin-top: 67px;
  padding: 15px 0px;
  width: 393px;
  height: 43px;
  background: linear-gradient(270deg, #e33d0e 0%, #ff7d58 101.34%);
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}

.text-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.text-wrapper .text-top {
  text-align: left;
}
.text-wrapper .text-top__heading {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
}
.text-wrapper .text-top__title {
  font-weight: 700;
  font-size: 30px;
  color: #ff7d58;
}

.address-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  row-gap: 12px;
}
.address-wrapper .address {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 6px;
  padding-left: 45px;
  position: relative;
}
.address-wrapper .address h2 {
  font-weight: 700;
  font-size: 26px;
  color: #ff7d58;
}
.address-wrapper .address p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.address-wrapper .address::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 40px;
  background-image: url("./047-placeholder-6.png");
  left: 2px;
  top: 8px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 470px) {
  #app {
    background-size: cover;
    background-position-x: -800px;
    overflow: auto;
  }
  .main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
  }
  .text-wrapper {
    height: 85%;
    align-self: center;
  }
  .text-wrapper .address-wrapper {
    justify-content: space-around;
  }
  .form-wrapper {
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form-wrapper .logo {
    height: 40px;
    margin-bottom: 0;
  }
  .form-wrapper .heading {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .form-wrapper .heading::after {
    right: 50px;
  }
  .form-wrapper .title {
    margin: 10px 0;
  }
  .form-btn {
    max-width: 290px;
    margin-top: 12px;
  }
  .text-wrapper .text-top {
    text-align: center;
  }
  .text-wrapper .text-top__heading {
    font-size: 30px;
  }
  .text-wrapper .text-top__title {
    font-size: 20px;
  }
  .address-wrapper {
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .address-wrapper .address {
    padding-left: 35px;
  }
  .address-wrapper .address h2 {
    font-size: 16px;
  }
  .address-wrapper .address p {
    font-size: 12px;
  }
  .address-wrapper .address::before {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 391px) {
  .text-wrapper {
    height: 95%;
  }
  .address-wrapper .address h2 {
    font-size: 14px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}/*# sourceMappingURL=style.css.map */